.card {
    background-color: lightgray;
  }
  .bs-card {
    width: 50%;
    margin: auto;
    margin-bottom: .5em;
    padding: .5em;
  }
  .bs-card * {
    margin: auto;
  }
  .bs-card img {
    width: 150px;
    margin: auto;
  }
  /* .bs-card button {
    justify-content: center;
  } */

  .card-img-top {
    background-color: lightgray;
  }
  .cart-title {
    width: fit-content;
    margin: .5em auto;
  }

  .card-title {
    width: fit-content;
    margin: auto;
  }

  .card-text {
    width: 90%;
    margin: auto; 
    text-align: center;
    font-size: 14px;
  }

  .card-count {
    width: fit-content;
    padding: .2em;
    margin-right: .1em;
    background-color: white;
  }
  .product-price {
    color: #008;
  }

  .cart-page {
    display: grid;
    grid-template-columns: 8fr 4fr;
    height: 100%;
  }
  .cart-component {
    border: .4px solid black;
    min-height: 100%;
    border-right: none;
  }
  .summary-component {
    border: .4px solid black;
    padding-top: 1em;
  }
  .summary-title {
    width: fit-content;
    margin: auto;
  }

  .inc-dec-cart {
    display: flex;
    justify-content: space-around;
    width: fit-content;
  }
  .inc-dec-cart span {
  padding: 0 1em;
  }

  
.promo-toggle-btn {
  color: black;
  background-color: transparent;
  border: none;
}

.promo-apply-container {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}
.promo-apply-container > * {
  margin: 0;
}

.promo-code {
  width: 85%;
  height: 2.2em;
}


button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: #004AAD;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}
.apply-btn {
  /* width: 15%; */
  padding: .27em .7em;
  background-color: #004AAD;

}

.list-group {
  margin-top: 1em;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff5;
  width: 90%;
  margin: auto;
}

.cart-value-label {
  /* font-size: 18px; */
  font-weight: bold;
  background-color: #fff0;
}
.cart-value {
  background-color: #fff0;
}

.checkout-btn {
  width: 50%;
  margin: 1em auto;
}